.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 6px 108px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  min-width: 250px; 
  padding: 30px;
}


.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 16px;
  text-align: center;
}


.title {
  font-size: 3.0em;
  margin: 8px 0;
}

.subtitle {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.719);
  margin-bottom: 12px;
}

.button {
  width: auto; 
  margin-top: 8px;
}

.button.is-danger {
  background-color: #ff3860;
  color: white;
}

.button.is-link {
  background-color: #3273dc;
  color: white;
}

.buttonContainer {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  align-items: center; 
  margin-bottom:16px;
}


/* Responsive estilos */
@media (max-width: 1024px) {
  .columnOneThird {
      flex-basis: 45%; 
      max-width: 45%; 
  }
}

@media (max-width: 768px) {
  .columnOneThird {
      flex-basis: 100%; 
      max-width: 100%; 
  }
}

.primaryButton {
  width: 100%; 
  text-align: center; 
}

.image {
  margin-bottom: 1rem; 
}

.image img {
  max-width: 100%; 
  height: auto; 
  border-radius: 8px; 
}
